@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menambahkan efek scale-up */
@keyframes modalScaleUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Animasi untuk modal */
.modal-scale {
  animation: modalScaleUp 0.3s ease-in-out forwards;
}
