@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menambahkan efek scale-up */
/* Popup container */
.popup-container {
  opacity: 0;
  transform: translateY(-50px); /* Mulai dengan posisi sedikit ke atas */
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.popup-container.show {
  opacity: 1;
  transform: translateY(0); /* Kembali ke posisi awal */
}

/* Background overlay */
.popup-background {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.popup-background.show {
  opacity: 1;
}
