@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menambahkan efek scale-up */
/* Popup container */
.popup-container {
  opacity: 0;
  transform: translateY(-50px); /* Mulai dengan posisi sedikit ke atas */
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.popup-container.show {
  opacity: 1;
  transform: translateY(0); /* Kembali ke posisi awal */
}

/* Background overlay */
.popup-background {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.popup-background.show {
  opacity: 1;
}

/* styles.css */
.listsorlink {
  display: grid;
  grid-template-columns: 200px 240px 150px 150px 75px 60px 100px 100px ; /* Kolom tanpa nama */
                      /*  Original|Shortlink|Title|Date|Status|Click|Qr|Action  */
  grid-template-rows: auto;
}
.barki {
  display: grid;
  grid-template-columns: 200px 240px 150px 150px 75px 60px 100px 100px ; /* Kolom tanpa nama */
                      /*  Original|Shortlink|Title|Date|Status|Click|Qr|Action  */
  grid-template-rows: 70px;
}

@media(max-width: 768px) {
  .barki {
    display: grid;
    grid-template-columns: 200px 240px 150px 100px 100px ;
    grid-template-rows: 70px;
  }
  .listsorlink {
    display: grid;
    grid-template-columns: 200px 240px 150px 100px 100px ;
    grid-template-rows: 70px;
  }
}

@media (max-width: 1440px){
  .jawir {
    width: 1075px;
  }
}

.qr-code {
  width: 4rem; /* Default size */
  height: 4rem; /* Default size */
  transition: transform 0.2s ease-in; /* Smooth transition */
}

.qr-code:hover, .qr-code:focus {
  transform: scale(1.2); /* Enlarge on hover */
}

.shor:hover{
  text-decoration: underline;
}

strong {
  color: rgb(0, 0, 0);
}